.dashboard__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.dashboard__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.dashboard__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.dashboard__subtitle {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.log__out__button {
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  border-radius: 15px;
  justify-content: center;
  padding: 1em;
}
.log__out__button svg {
  width: 50px;
  height: 32px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log__out__button__btn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
}
.log__out__button:hover {
  background-color: #e1e1e1;
}
