.Footer {
  overflow: hidden;
}

.Footer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 0;
  position: relative;
  // background-image: url(../public/banner_1.jpg);
}
.Footer__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0em 2em;
  margin-bottom: 4.5em;
  justify-content: space-between;
}
.Footer__content__left__logo__info {
  color: #fff;
}
.Footer__content__left__logo {
  margin-top: -1.1em;
}
.Footer__content__mid__content {
  display: flex;

  justify-content: center;
}
.mode-rtl .Footer__content__mid__content__left {
  margin-left: 5em;
  margin-right: 0;
}
.Footer__content__mid__content__left {
  margin-right: 5em;
}

.Footer__content__mid__content__left__links {
  display: flex;

  flex-direction: column;
}

.Footer__content__mid__content__left__links a {
  margin-bottom: 1em;
  color: #fff;
  text-decoration: none;
}
.Footer__content__left {
  width: 30%;
}
.Footer__content__mid {
  width: 40%;
}
.Footer__content__right {
  width: 30%;
}
.Footer__content__left__logo__info {
  font-size: 16px;
  font-weight: 400;
  max-width: 320px;
  margin-top: 0.4em;
}
.Footer__content__mid__content__left__heading {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.5em;
}
.Footer__content__right__input__name {
  font-size: 16px;
  margin-bottom: 0.7em;
  color: #fff;
  text-decoration: none;
}
.Footer__content__right__input__name a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.Footer__content__right__input__button input {
  padding: 0.7em 0em 0.7em 0.5em;
  width: 60%;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;
  outline: none;
}
.Footer__content__right__input__button input:hover {
  background-color: #fff;
  color: #0d2344;
  border: 1px solid #0d2344;
}
.Footer__content__right__input__button {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.Footer__content__right__input__button button {
  padding: 0.7em 2em;
  background-color: #0d2344;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  border: 1px solid #0d2344;
  cursor: pointer;

  margin-left: 0.2em;
}

.Footer__content__right__all__links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 0.5em;
}
.Footer__content__right__all__links__link svg:hover {
  background-color: #fff;
  stroke: #0d2344;
  border-radius: 50px;
}
.Footer__content__right__all__links :hover {
  cursor: pointer;
  color: #0d2344;
}
.Footer__content__mid__content__left__links a:hover {
  cursor: pointer;
  color: #0d2344;
}
.Footer__content__right__input__button button:hover {
  background-color: #fff;
  color: #0d2344;
  border: 1px solid #0d2344;
}
.Footer__bottom__heading {
  font-size: 14px;
  color: #fff;
  // margin-bottom: 1.5em;
}
.Footer__bottom {
  width: 95%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  border-radius: 30px;
}
.Footer__bottom__heading {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 14px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 1em 0em;
}
.footer__background__overlay {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.footer__background {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: -1em;
  border-radius: 150px 150px 0px 0px;
  object-fit: cover;
}
.footer__overlay {
  width: 100%;
  background-color: #0d2344;
  border-radius: 150px 150px 0px 0px;
  padding: 3em;
}
.Footer__content__col {
  flex: 1;
}
@media (max-width: 1400px) {
  .Footer__content {
    margin-bottom: 3.5em;
  }
}
@media (max-width: 1050px) {
  .Footer__content__left {
    width: 50%;
  }
  .Footer__content__mid__content {
    justify-content: space-between;
  }
  .Footer__content__right {
    width: 100%;
    margin-bottom: 1em;
  }
  .join__section__content__img {
    height: 400px;
  }
}

@media (max-width: 950px) {
  .footer__background {
    border-radius: 0;
  }
}
@media (max-width: 750px) {
  .Footer__content__mid {
    margin: 3em 0em;
    width: 100%;
  }
  .Footer__content__left {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 580px) {
  .Footer__content__right__input__button input {
    width: 55%;
  }
  .Footer__content {
    padding: 2em;
  }
  .Footer {
    padding: 0em;
  }
  .Footer__content__mid__content__left__links a {
    margin-bottom: 1.5em;
    color: #fff;
    text-decoration: none;
  }
  .Footer__bottom__heading {
    font-size: 14px;
  }
  .footer__background {
    margin-bottom: -1em;
  }
  .Footer__content {
    margin-bottom: 0em;
  }
}
@media (max-width: 520px) {
  .Footer__content__left__logo__info {
    font-size: 16px;
    margin-top: 1em;
    width: 100%;
    padding-left: 0.2em;
  }
  .Footer__content__left__logo__img {
    width: 200px;
  }
  .Footer__content__mid__content__left {
    width: 50%;
    margin-right: 0em;
  }

  .Footer__content__right__all__links {
    width: 95%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .Footer__content {
    padding: 0em 2em;
  }
  .footer__background {
    width: 920px;
    margin: 0 auto;
    margin-bottom: -1em;
  }
  .join__section {
    padding: 0em 0em;
    padding-top: 3em;
  }
}
